{{#scope}}
<table cellpadding="10" cellspacing="0" width="100%" border="0">
    <tr>
        <td>
            <h1>
                <a href="{{{storyUrl}}}">{{{title}}}</a>
                <img width="1" height="1" loading="lazy" src="{{{pixelUrl}}}"/>
            </h1>
        </td>
    </tr>
    <tr>
        <td class="small">
            {{{publishedDate}}}
        </td>
    </tr>
    <tr>
        <td class="wutsi-mail-content">{{{content}}}</td>
    </tr>
    {{#subscribe}}
    <tr>
        <td align="center">
            <div style="background: white; opacity: 50%; height: 5em; margin-top: -5em;">
            </div>
            <div class="box-highlight" style="padding: 2em">
                <h3>{{{title}}}</h3>
                <p>
                    <a class="btn-primary" href="{{{subscribeUrl}}}">{{{subscribeButton}}}</a>
                </p>
            </div>
        </td>
    </tr>
    {{/subscribe}}
    <tr>
        <td>
            <a class="social" target="_new" href="{{{shareFacebookUrl}}}">
                <img height="32" style="margin-right: 1em"
                     src="https://prod-wutsi.s3.amazonaws.com/static/wutsi-blog-web/assets/wutsi/img/social/facebook.png"/></a>
            <a class="social" target="_new" href="{{{shareTwitterUrl}}}">
                <img height="32" style="margin-right: 1em"
                     src="https://prod-wutsi.s3.amazonaws.com/static/wutsi-blog-web/assets/wutsi/img/social/twitter.png"/></a>
            <a class="social" target="_new" href="{{{shareLinkedinUrl}}}">
                <img height="32" style="margin-right: 1em"
                     src="https://prod-wutsi.s3.amazonaws.com/static/wutsi-blog-web/assets/wutsi/img/social/linkedin.png"/></a>
        </td>
    </tr>
</table>
{{/scope}}
